.grab {
  flex-direction: column;
  padding: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 250px; /* Default height for larger screens */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  filter: blur(3px);
}

.customTextNew {
  flex-direction: column;
  display: flex;
  padding: 20px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px; /* Default font size for larger screens */
  color: black;
  font-weight: 600;
}

.customTexthome {
  padding: 20px;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-family: 'Poppins';
  font-size: 24px; /* Default font size for larger screens */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.primaryButton,
.secondaryButton {
  flex-direction: column;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.primaryButton {
  background-color: #b88e2f;
  font-weight: bold;
  color: #fff;
  border: none;
}

/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
  .grab {
    flex-direction: column;
    height: 200px;
  }

  .customTextNew {
    flex-direction: column;
    top: 70px;
    font-size: 40px; /* Adjusted font size for medium screens */
    padding: 20px;
  }

  .customTexthome {
    top: 140px;
    font-size: 18px; /* Adjusted font size for medium screens */
    padding: 20px 15px;
  }
}

@media only screen and (max-width: 480px) {
  .grab {
    height: 150px;
  }

  .customTextNew {
    top: 50px;
    font-size: 30px; /* Adjusted font size for smaller screens */
    padding: 20px;
  }

  .customTexthome {
    top: 200px;
    font-size: 16px; /* Adjusted font size for smaller screens */
    padding: 10px 15px;
  }
}
