.grab {
  flex-direction: column;
  padding: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 250px; /* Default height for larger screens */
  display: flex;
  align-items: center;
  justify-content: center;
}

.customTextNew {
  flex-direction: column;
  display: flex;
  padding: 20px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px; /* Default font size for larger screens */
  color: black;
  font-weight: 600;
}

.customTexthome {
  width: 60%;
  padding: 20px;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-family: 'Poppins';
  font-size: 25px; /* Default font size for larger screens */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 180px;
  align-items: center;
}

.submit-button {
  padding: 5px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 10px;
  align-self: center;
  justify-self: center;

  background-color: #b88e2f;
  font-family: 'Poppins';
  font-weight: bold;
  color: #fff;
  border: none;
  font-size: 20px;
}


/* Media queries for responsive design */

@media only screen and (max-width: 480px) {
  .grab {
    height: 150px;
  }

  .customTextNew {
    top: 50px;
    font-size: 30px; /* Adjusted font size for smaller screens */
    padding: 20px;
  }

  .customTexthome {
    top: 200px;
    font-size: 24px; /* Adjusted font size for smaller screens */
    padding: 10px 15px;
    margin-top: 50px;
  }

  .primaryButton,
 .secondaryButton {
   padding: 10px 15px; /* Adjusted padding for a less wide button */
   border-radius: 20px;
   margin-bottom: 15px;
   cursor: pointer;
   width: 200px;
   font-size: 16px;
 }
}
