body {
  background-color: #E8EAEE;

}

.grab-container {
  flex-direction: column;
  display: flex;
}

.customTexthome {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: white;
  align-self: center;
  width: 80%;
  padding: 20px;
  color: #000;
  font-family: 'Poppins';
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/chef-ingredients.jpeg");
  height: 200px;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.option-bar {
  background-color: #F9F1E7; /* Beige color */
  display: flex;
  align-items: center;
  padding: 10px 20px;
}




.filter-text {
  margin-left: 10px;
}

.header {
  font-size: 2.7em;
}

@media only screen and (max-width: 650px) {
  .header {
     font-size: 2em;
     text-align: center;
  }   
}

.explanation-text {
  font-style: italic;
}

.submit-button {
  cursor: pointer;
  background-color: #b88e2f;
  font-family: 'Poppins';
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  align-self: flex-end;
  margin-left: auto;

  /**
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  align-self: center;
  justify-self: center;

  background-color: #b88e2f;
  font-family: 'Poppins';
  font-weight: bold;
  color: #fff;
  border: none;
  font-size: 20px;
  */
}


/* Media queries for responsive design */

@media only screen and (max-width: 480px) {
  .grab {
    height: 150px;
  }

  .customTextNew {
    top: 50px;
    font-size: 30px; /* Adjusted font size for smaller screens */
    padding: 20px;
  }

  .customTexthome {
    top: 200px;
    font-size: 24px; /* Adjusted font size for smaller screens */
    padding: 10px 15px;
    margin-top: 50px;
  }
}
