body {
   background-color: white;
}

.recipe-cards-wrapper {
   display: flex;
   flex-wrap: wrap;
   padding: 10px 20px;
   align-items: center;
   justify-content: space-evenly;
   animation: 1s ease-out 0s slideInFromLeft;
}

.banner {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-image: url("../../../assets/chef-ingredients.jpeg");
   height: 200px;
   background-size: cover;
   background-color: rgba(255, 255, 255, 0.5);
   background-blend-mode: lighten;
}
.nothing-found {
   margin-top: 30px;
   font-style: italic;
   text-align: center;
}
.header {
   font-size: 2.7em;
}

@media only screen and (max-width: 650px) {
   .header {
      font-size: 2em;
      text-align: center;
   }   
}

.option-bar {
   background-color: #F9F1E7; /* Beige color */
   display: flex;
   align-items: center;
   padding: 10px 20px;
}

.filter-wrapper {
   display: flex;
   margin-right: 15px;
   border-right: 1px solid black;
   padding-right: 15px;
}

.filter-text {
   margin-left: 10px;
}

.recipe-card {
   width: 200px;
   height: 290px;
   margin-bottom: 10px;
   border-radius: 5px;
   background-color: #F4F5F7;
   border: 1px solid gray;
   box-shadow: 2px 2px 2.5px gray;
   font-size: 14px;
   font-weight: 500;
}

.recipe-card:hover::before {
   transform: scale(1.1);
   box-shadow: 0 0 15px #1E5EFF;
 }
 
.recipe-card:hover {
   box-shadow: 0 0 5px #1E5EFF;
 }

a {
   color: black;
   text-decoration: none; 
   background-color: none;
}

.recipe-title {
height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;

}
.match-percent {
   color: #898989;
   font-weight: 400;
   text-align: center;
   border: 1px solid #898989;
   border-radius: 10px;
}

.card-image {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom: 1px solid gray;
}

.card-text {
   padding: 5px;
}

@keyframes slideInFromLeft {
   0% {
     transform: translateY(100%);
   }
   100% {
     transform: translateY(0);
   }
 }