/* Home.css */

/*desktop layout */
.home {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins';
  background-image: url('../../assets/cuttingbanana.png');
}

.headerContainer {
  width: auto;
}

.beigeBox {
  background-color: #ffe3bf;
  padding: 20px 40px;
  border-radius: 8px;
  text-align: left;
  width: 30vw;
  margin-left: auto;
  margin-right: 70px;
  box-shadow: 10px 5px 10px black;
}

.headerContainer h1 {
  font-size: 5px;
  height: 20px;
  color: black;
  margin-bottom: 10px;
}

.headerContainer p {
  font-size: 35px;
  font-weight: bold;
  color: #b88e2f;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
}

.headerContainer button {
  color: black;
  border: none;
  font-family: 'Poppins';
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b88e2f;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 10px;
}

.headerContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

/* Navigation bar styles */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.navbar a {
  display: flex;
}

.menu-icon {
  display: block;
  float: right;
  padding: 14px 20px;
  color: black;
  cursor: pointer;
}

.menu {
  display: block;
  position: relative;
  background-color: #333;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1;
}

.menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Media query for iPhone/Pixel screens */
@media only screen and (max-width: 650px) and (min-device-width: 320px) and (max-device-width: 812px) {
  .home {
    justify-content: center;
    align-items: center;
    /* Adjust background image to cover the whole background */
    background-size: cover;
  }

  /* Additional styles for iPhone/Pixel screens */
  .beigeBox {
    width: auto;
    max-width: 80%;
    padding: 20px 30px;
    position: relative;
    top: 50%; /* Place it at 50% from the top */
    left: 50%; /* Place it at 50% from the left */
    transform: translate(-50%, -27%); /* Translate it back by half its own width and half its own height */
  }

  .customText {
    max-width: 90%;
  }
}
 
