
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  height: calc(100vh - 60px);
  align-items: center;
  justify-content: center;
 }
 
 .customTextContainer {
   width: 50%;
 }
 
 .menuImageContainer {
  margin-left: min(10%, 50px);
 }
 
 .menuImage {
   max-width: 500px;
   max-height: 500px;
   margin-right: min(10%, 25px);
   box-shadow: 12px 12px 2px 1px rgba(255, 194, 71, .8);
 }
 
 .customTextnew {
   font-size: 55px;
   font-weight: bold;
   color: black;
   text-align: center;
   margin-top: 0px;
   margin-bottom: 10px;
 }
 
 .customDescription {
   font-size: 18px;
   color: #333;
   text-align: left;
 }
 
 .buttonContainer {
   margin-top: 40px;
   text-align: center;
   display: flex;
   flex-direction: column;
   width: 200px;
 }
 
 .primaryButton,
 .secondaryButton {
   padding: 10px 15px; /* Adjusted padding for a less wide button */
   border-radius: 20px;
   margin-bottom: 15px;
   cursor: pointer;
   width: 200px;
 }
 
 .primaryButton {
   background-color: #b88e2f; /* Primary button color */
   font-weight: bold;
   color: #fff; /* Text color for primary button */
   border: none;
 }
 
 .secondaryButton {
   background: none; /* Fully opaque secondary button color */
   font-weight: bold;
   color: #333; /* Text color for secondary button */
   border: 2px solid black; /* Border color for secondary button */
 }

 @media only screen and (max-width: 480px) {
  .menu {
    height: 150px;
  }

  .customTextContainer {
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .customTextnew {
    top: 50px;
    font-size: 30px; /* Adjusted font size for smaller screens */
    padding: 10px;
    margin-top: 10px;
  }

  .customTexthome {
    top: 20px;
    font-size: 200px; /* Adjusted font size for smaller screens */
    padding: 10px 15px;
  }
}
 