.about {
   width: 100%;
   height: 90vh;
   display: flex;
   flex-direction: column;
}

.aboutTop {
   width: 100%;
   height: 45%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
   display: flex;
   flex-direction: column;
   height: 55%;
   align-items: center;
   margin-top: 10px; /* Reduced margin to bring closer to header */
}

.aboutBottom p {
   width: 90%; /* Adjusted for mobile screens */
   text-align: center; /* Center align text */
   font-size: 1.2rem; /* Adjusted font size */
}

.about .aboutBottom h1 {
   font-weight: bold;
   font-size: 3rem; /* Adjusted font size for desktop */
   color: black;
   text-align: center; /* Center align text */
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media only screen and (max-width: 768px) {
   .aboutTop {
      height: 250px; /* Adjusted height for mobile screens */
   }

   .aboutBottom p {
      font-size: 1rem; /* Further reduced font size for mobile */
      margin-top: 5px; /* Further reduced margin for mobile */
   }

   .about .aboutBottom h1 {
      font-size: 2rem; /* Adjusted font size for mobile */
   }
}
