.navbar {
   width: 100%;
   height: 60px; /* Adjust the height if needed */
   background-color: #ffffff;
   display: flex;
   flex-direction: row;
   line-height: 40px;
 }

 .logo {
  display: flex;
 }
 
 .navbar .leftSide {
   height: 100%;
   display: flex;
   align-items: center;
   padding-left: 15px; 
 }
 .logo-text {
  font-weight: 600;
  font-size: 34px;
  padding-left: 10px;
 }

 
 .navbar .rightSide {
   flex: 1;
   height: 100%;
   display: flex;
   margin-top : 10px;
   justify-content: flex-end;
   padding-right: 15px; /* Adjust the right padding if needed */
  vertical-align: center;
  }

  .icon {
    margin-top: 10px;
  }
 
 .navbar a {
   color: rgb(0, 0, 0);
   text-decoration: none;
   margin-left: 20px;
 }
 
 .navbar .rightSide button {
   background-color: transparent;
   border: none;
   color: white;
   cursor: pointer;
 }
 
 .navbar .rightSide svg {
   font-size: 40px;
 }
 
 .navbar #open {
   padding-left: 0px;
 }
 
 .navbar #open img {
   display: none;
 }
 
 .navbar #close img {
   display: inherit;
 }
 
 .navbar #open .hiddenLinks {
   display: inherit;
   margin-left: 30px;
 }
 
 .navbar #close .hiddenLinks {
   display: none;
 }
 
 .navbar #open a {
   width: 70px;
   margin: 5px;
 }
 
 @media only screen and (max-width: 900px) {
   .navbar .rightSide a {
     width: 70px;
   }
   .navbar .leftSide {
     padding-left: 50px;
   }
 }
 
 @media only screen and (max-width: 600px) {
   .navbar .rightSide a {
     display: none;
   }
 
   .navbar .rightSide {
     justify-content: flex-end;
     padding-right: 15px; /* Adjust the right padding if needed */
   }
 
   .navbar .rightSide button {
     display: inherit;
   }
 }
 
 @media only screen and (min-width: 600px) {
   .navbar .rightSide button {
     display: none;
   }
 
   .hiddenLinks {
     display: none;
   }
 }